:root{
    --color-bd-light:lightyellow;
    --color-bd:#aaa;
    --color-text: #222;
    --font-family-gothic: "맑은 고딕";

    --n1: 10px;
    --n2: 15px;
    --n2: 20px;
}

html{
    font-size: 16px;
}
li{
    list-style: none;
}
/* --- utils ---------------------------------------------------- */

/* display */

.d-none{
    display: none !important;
}

.d-block{
    display: block !important;
}

.d-inline-block{
    display: inline-block !important;
}

/* text-align */
.text-align-center{
    text-align: center !important;
}

.text-align-start{
    text-align: start !important;
}

.text-align-end{
    text-align: end !important;
}

.d-flex{
    display: flex !important;
}

/* border */

.border-0{
    border: none !important;
}

.border-1{
    border-top: 1px solid var(--color-bd) !important;
}

/* size */
.w-25{
    width:25% !important;
}

.w-50{
    width:50% !important;
}

.w-75{
    width:75% !important;
}

.w-100{
    width:100% !important;
}

.w-auto{
    width:auto !important;
}

/* margin */
.mt-n1{
    margin-top: var(--n1) !important;
}

.mb-n1{
    margin-bottom: var(--n1) !important;
}

.mt-0{
    margin-top: 0 !important;
}

.mt-1{
    margin-top: .25rem !important;
}

.mt-2{
    margin-top: .5rem !important;
}

.mt-3{
    margin-top: 1rem !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.mb-1{
    margin-bottom: .25rem !important;    
}

.mb-2{
    margin-bottom: .5rem !important;
}

.mb-3{
    margin-bottom: 1rem !important;
}

/* --- content-block ---------------------------------------------- */


/* form */

.form{
    padding:1rem;
    border:1px solid var(--color-bd);
}

.form *{
    box-sizing: border-box;
}

.form .fieldset-none{
    border:none;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    min-inline-size: 0;    
}

.form .input[type=text]{
    width:100%;
    padding: 0.5rem .75rem;
    border:1px solid var(--color-bd);
    border-radius: 0.35rem;
    outline: none;
}

.form .input[type=text]:focus{
    background-color: lightyellow;
}


/* table */

/* list */
.list{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}

.list .item,
.list.empty::before{
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125)
}

.list.empty::before{
    content:'목록이 비어있습니다';
    text-align:center;
}
/* --- component --------------------------------------------------- */

.btn {
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: .9rem;

    border: 1px solid var(--color-bd);
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out;      
    
    display: inline-block;
    padding: 0.4rem 0.9rem;    
}

.btn:hover{
    background-color: #a8a8a8;
    border-color: #858585;
    color:#fff;
}

.btn-strong {
    color: #fff;
    background-color: #8cb34a;
    border-color: #67921e;
}

.btn-strong:hover{
    background-color: #669415;
    border-color: #67921e;
}


/* --- <h1>14. 종합 1 : DND로 노드 순서 바꾸기</h1> --- */
#s14 .screen{
    position: absolute;
    left:0;
    top:0;
    background-color: black;
    width:100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#s14 .dlg {
    background-color: white; 
    padding:20px;
    position: relative;
    top:-100px;
    border-radius: 10px;
}

#s14 .action-panel{
    padding-top: 20px;
    display: flex;
}

#s13 .box{
    background-color: gray;
    width: 100%;
    height: 300px;
    padding:10px;
}

#s13 .row {
    width: 200px;
    height: 20px;
    text-align: center;
    background-color: #fff;
    margin-top: 1px;
    padding:10px;
    cursor: move;
    
}

#s13 .row.dragging {
    border: 1px solid black;
    opacity: .7;
}

#s13 .row.drop-item{
    background-color: lightcoral;
}
#s11 .d-none{
    display: none;
}
#s11 .box{
    height: 300px;
    background-color: gray;

    position: relative;
    overflow: hidden;

    background: url(images/upload-box.svg)
                no-repeat center top 140px,
                url(images/upload.svg)
                no-repeat center top 100px;
    background-color: gray;

    display:flex;
    justify-content:center;
    align-items: center;
    transition: background-position 1s;
}

#s11 .box.over{
    background: url(images/upload-box.svg)
                no-repeat center top 120px,
                url(images/upload.svg)
                no-repeat center top 120px;
    background-color: gray;
}
#s11 .box.over.error{
    background:url(images/upload-box.svg)
                no-repeat center top 120px,
                url(images/upload-error.svg)
                no-repeat center top 140px,
                url(images/upload.svg)
                no-repeat center top 120px;
    background-color: gray;
}
#s11 .box .error-message{
    color:white;
    position: relative;
    top:70px;
}

#s10 .box{
    height: 300px;
    background-color: gray;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

#s10 .item{
    font-size: 30px;
    font-weight: bold;
    color:#fff;

    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: lightgreen;

    display: flex;
    align-items: center;
    justify-content: center;

}


#s9-2{
}


#s9-2 .box{
    height: 300px;
    background-color: gray;

    position: relative;
    overflow:auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

#s9-2 .box>.bar{
    content:" ";
    /* height: 0px;
    overflow: hidden; */
    width: 10%;
    height: 3px;
    background-color: blue;
    display: block;
    position: absolute;

    top:0px;
    left:0px;

    transition: width 400ms;
}

#s9-2 .item{
    font-size: 30px;
    font-weight: bold;
    color:#fff;

    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: lightgreen;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
------------------------------------------- */
#s9-1 .page-box{
    height: 500px;
    background-color: gray;

    position: relative;
    overflow: hidden;
}

#s9-1 .page-box .page{    
    height: 100%;
    width: 100%;

    position: absolute;
    left:0px;
    top:100%;
    transition: top 1s;
}

#s9-1 .page-box .page.active{ 
    top:0%;
  
}

#s9-1 .page-box .page img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* #s9-1 .page-box{
    height: 500px;
    background-color: gray;

    position: relative;
    overflow: hidden;
}

#s9-1 .page-box .page{    
    height: 100%;
    width: 100%;

    position: absolute;
    left:0px;
    top:0px;
}

 #s9-1 .page-box .first{    
    border : 2px solid red;
    z-index: 1;
} 

#s9-1 .page-box div.moveUp{    
    animation-duration: 1s;
    animation-name: slideup;
    z-index: 2;
}
@keyframes slideup{
    from{
        top: 500px;
    } 

    to{
        top:0px;
    }
}

#s9-1 .page-box div.moveDown{    
    animation-duration: 1s;
    animation-name: slidedown;
    /* margin-top: 0px;
    transition: all 1s; 
    z-index: 2;
}
@keyframes slidedown{
    from{
        top: 0;
    } 

    to{
        top:500px;
    }
}

#s9-1 .page-box .page img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

*/
#s9 .img-list-box ul{
    /* reset */
    margin:0;
    padding: 0;

    display: flex;
}

#s9 .img-list-box li{
    /* reset */
    list-style: none;

    box-sizing: border-box;
    width: 100px;
    height: 100px;

    opacity: 0.6;
    transition: opacity 1s, border-bottom 1s;
}

#s9 .img-list-box li.active{
    opacity: 1;
    border-bottom: 2px solid red;
}

#s9 .img-list-box img{
    width: 100%;
    height: 100%;
   
}

#s9 img{
    position:relative;
    left: 0;
}

#s9 .show-room{
    height: 400px;
    background-color: gray;

    /* item layout */
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
#s9 .show-room img{
    height: 40%;
    box-shadow: 0px 0px 13px rgb(83, 83, 83);

    transition: transform 400ms;
}
#s8-1 .box{
    height: 300px;
    background-color: gray;    

    display: flex;    
    justify-content: space-around;
    align-items: center;
}

#s8-1 .box>div{
    font-weight: bold;
    font-size: 30px;
    color:white;

    outline: none;
    width:100px;
    height: 100px;
    background-color: lightgreen;

    display: flex;
    justify-content: center;
    align-items: center;
}

#s8-1 .box>div:focus{
    background-color: lightsalmon;
}
#s8-1 div.delete{
    display: none;
}

#s8 .name-div{
    position: relative;
}

#s8 .name-div .far{
    position: absolute;
    left:300px;
    top:28px;
}



#s8 input[type=text],input[type=submit]{
    outline: none;
    box-sizing:border-box ;
    width:100%;
    height:30px;
    padding: 0 20px;
    border:1px solid gray;
    border-radius: 40px;
}

#s8 input[type=text]:valid{
    /* background-color: lightgreen; */

    background: url("images/1.jpg") no-repeat right -10px center;
}

#s7-1 .box{
    height: 400px;
    background-color: #c5c5c5;
    position: relative;

    display: flex;
}

#s7-1 .box .src-item-list{
    width:400px;
}


#s7-1 .box .dst-item-list{
    flex-grow: 1;    
}



#s7-1 .box .item{
    font-size: 30px;
    font-weight: bold;

    box-sizing: border-box;
    width:100px;
    height: 100px;

    border: 1px solid gray;
    border-radius: 10px;

    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
}

#s7-1 .src-item-list .item:nth-child(1){    
    left : 0px;
    top: 0px;
}

#s7-1 .src-item-list .item:nth-child(2){    
    left : 0px;
    top: 150px;
}

#s7-1 .src-item-list .item:nth-child(3){    
    left : 0px;
    top: 250px;
}
#s7-1 .src-item{
    /* effect */
    transition: left 1s, top 1s, transform 1s, background-color 1s;
}

#s7-1 .dst-item-list .item:nth-child(1){    
    left : 450px;
    top: 10px;
}

#s7-1 .dst-item-list .item:nth-child(2){    
    left : 400px;
    top: 150px;
}

#s7-1 .dst-item-list .item:nth-child(3){    
    left : 550px;
    top: 250px;
}


#s7-1 .src-item.finished{
    background-color: green;
}

/*#s7>div>div>div.active,*/ .src-item.active{
    background-color: red;
    color: white;
    z-index: 1;
    transform: rotate(0deg);
}

#s6>div,
.accordion-box{
    height: 400px;
    display: flex;
    flex-direction: column;
}

#s6>div>h2,
.accordion-header
{
    /* reset */
    padding: 0;
    margin: 0;/* text */
    font-size: 100%;
    font-weight: normal;
    color: #454545;
    /* layout */
    cursor: pointer;
    height: 20px;
    margin: 2px 0 0 0;
    padding: 0.5em 0.5em 0.5em 0.7em;
    border: 1px solid #c5c5c5;
    border-bottom-right-radius: 3px;
    background: #f6f6f6;
    
    /* effect */
    transition: background-color 1s;    
}

#s6>div>div,
.accordion-content{
    /* reset */
    margin: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    /* text */
    color: #333333;
    /* layout */
    border: 1px solid #dddddd;
    border-bottom-left-radius: 3px;
    background: #ffffff;
    /* padding: 1em 2.2em; */
    border-top: 0;
    overflow: auto;
    height: 0px;
    /* effect */
    transition: flex-grow 1s, padding 
}

#s6>div>h2.active,
.accordion-header.active{
    background-color: red;    
}

#s6>div>h2.active+div,
.accordion-header.active+.accordion-content{
    flex-grow: 1;
}


#test{
    height: 300px;
    background-color: darkgray;

    display: flex;
    align-items: center;
    justify-content: center;
}


#test div{
    position: absolute;
    
    width:100px;
    height: 100px;
    background-color: darkorange;
}


/* --- #s5 ------------------------- */

#s5-1 .box{
    height: 300px;
    background-color: gray;    

    /* item layout */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#s5-1 ul{
    /* reset */
    margin: 0;
    padding: 0;

    /* layout */
    width:400px;

    /* item layout */
    display: flex;
    align-items: center;
    position: relative;
    width:400px;
    height: 100%;

}

#s5-1 li{
    /* reset */ 
    list-style: none;

    /* text */
    color:#fff;
    font-weight: bold;
    font-size: 36px;
    
    /* layout */
    box-sizing: border-box;
    width:100px;
    height: 150px;
    border:3px solid lightblue;
    border-radius: 10px;
    background-color: #ffffff77;
    position: absolute;

    /* item layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* effect */
    transition: left 1s, background-color 1s, width 1s, height 1s;
}
#s5-1 li.card-1th{
    left:0px;
    width:100px;
    height: 150px;
    z-index: 1;
}

#s5-1 li.card-2th{
    /* transform: scale(1.2, 1.2); */
    left:calc(50% - 60px);
    background-color: #ff0000;
    width:120px;
    height: 180px;
    z-index: 2;
}

#s5-1 li.card-3th{
    left: calc(100% - 100px); 
    width:100px;
    height: 150px;
    z-index: 0;
}

#s5-1 .btn-list{
    position: absolute;
    bottom: 0px;
}
/* --- #s5 ------------------------- */

#s5 .box{
    height: 300px;
    background-color: gray;    

    /* item layout */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#s5 ul{
    /* reset */
    margin: 0;
    padding: 0;

    /* layout */
    width:400px;

    /* item layout */
    display: flex;
    align-items: center;
    position: relative;
    width:400px;
    height: 100%;

}

#s5 li{
    /* reset */ 
    list-style: none;

    /* text */
    color:#fff;
    font-weight: bold;
    font-size: 36px;
    
    /* layout */
    box-sizing: border-box;
    width:100px;
    height: 150px;
    border:3px solid lightblue;
    border-radius: 10px;
    background-color: #ffffff77;
    position: absolute;

    /* item layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* effect */
    transition: left 1s, background-color 1s, width 1s, height 1s;
}
#s5 li.card-1th{
    left:0px;
    width:100px;
    height: 150px;
    z-index: 1;
}

#s5 li.card-2th{
    /* transform: scale(1.2, 1.2); */
    left:calc(50% - 60px);
    background-color: #ff0000;
    width:120px;
    height: 180px;
    z-index: 2;
}

#s5 li.card-3th{
    left: calc(100% - 100px); 
    width:100px;
    height: 150px;
    z-index: 0;
}

#s5 .btn-list{
    position: absolute;
    bottom: 0px;
}

/* --- #s4 ------------------------- */
#s4 .box{
    height: 300px;
    background-color: gray;
    display: flex;
    color:#fff;

    box-sizing: border-box;
    padding: 30px;
}

#s4 .tool-box{
    flex-basis: 300px;
}

#s4 .preview-box{
    border-left: 1px solid black;
    flex-basis: 300px;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

#s4 .preview-box .item{
    width:200px;
    height: 100px;
    border:1px solid black;
    background-color: #00000077;
}
/* --- #s3-1 ------------------------- */
#s3-1 .box{
    display: grid;
    grid-template: repeat(6, 50px) / repeat(4, 50px);
}


#s3-1 .box input[type=text]{
    grid-area: 1/1/2/-1;;
}

/* --- #s3 ------------------------- */
#s3 .box{
    display: grid;
    grid-template: repeat(6, 50px) / repeat(4, 50px);
}


#s3 .box input[type=text]{
    grid-area: 1/1/2/-1;;
}
